@page
@using Entities;
@model RecipeManager.Pages.Recipes.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/_Layout.cshtml";
}

<h1>Create</h1>
<form method="post">
    <div>

        <label for="Recipe.Name">
            Name
        </label>
        <input type="text" asp-for="Recipe.Name" />
        <span asp-validation-for="Recipe.Name"></span>
    </div>
    <div>
        <label for="Recipe.Description">
            Description
        </label>
        <textarea asp-for="Recipe.Description"></textarea>
        <span asp-validation-for="Recipe.Description"></span>
    </div>


    <table>
        <thead>
            <tr>
                <td>Ingredient Name</td>
                <td>Amount</td>
                <td>Unit</td>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Recipe.Ingredients.Count; i++)
            {
                <tr>
                    <td>@Model.Recipe.Ingredients[i].Name</td>
                    <td>
                        <input type="number" asp-for="Recipe.Ingredients[i].Amount" />
                    </td>
                    <td>
                        <select asp-for="Recipe.Ingredients[i].Unit" asp-items="Html.GetEnumSelectList<Unit>()"></select>
                    </td>
                    <td>@Model.Recipe.Ingredients[i].Type</td>
                    <td>
                        <input type="hidden" asp-for="Recipe.Ingredients[i].Id" />
                        <input type="hidden" asp-for="Recipe.Ingredients[i].Name" />
                        <input type="hidden" asp-for="Recipe.Ingredients[i].Type" />
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <input type="submit" value="Indsend Opskrift" />
</form>