@page
@using Entities;
@model RecipeManager.Pages.Recipes.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/_Layout.cshtml";
}

<h1>Create</h1>
<form method="post">

    <table>
        <thead>
            <tr></tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Recipe.Ingredients.Count; i++)
            {
                <tr>
                    <td>@Model.Recipe.Ingredients[i].Name</td>
                    <td>@Model.Recipe.Ingredients[i].Type</td>
                    <td>
                        <select asp-for="Recipe.Ingredients[i].Unit" asp-items="Html.GetEnumSelectList<Units>()">
                            <option value="Pick One"></option>
                        </select>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <input type="submit" value="Indsend Opskrift" />
</form>