@page
@model RecipeManager.Pages.Recipes.IndexModel
@{
    ViewData["Title"] = "CreateRecipe";
    Layout = "~/Pages/_Layout.cshtml";
}

<h1>Recipes</h1>

<table>
    <thead>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </thead>
    @foreach (var item in Model.Recipes)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                <a asp-page="./Detail"
                   asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
    }
</table>