@page
@model RecipeManager.Pages.Recipes.IndexModel
@{
    ViewData["Title"] = "CreateRecipe";
    Layout = "~/Pages/_Layout.cshtml";
}

<h1>Recipes</h1>


<a asp-page="/Recipes/SelectIngredients">Add recipe</a>
<table>
    <thead>
        <tr>
            <td>Recipe name</td>
            <td>Recipe Description</td>
        </tr>
    </thead>
    @foreach (var item in Model.Recipes)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                <a asp-page="./Detail"
                   asp-route-id="@item.Id">Details</a>

                <a asp-page="./Index"
                   asp-page-handler="Delete"
                   asp-route-id="@item.Id">
                    Delete
                </a>
            </td>
        </tr>
    }
</table>