@page
@using Entities

@model RecipeManager.Pages.Ingredients.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/_Layout.cshtml";
}

<h1>Create</h1>

<form method="post">
    <table>
        <tr>
            <td>
                <label for="Ingredient.Name">Name</label>
            </td>
            <td>
                <input type="text" name="Ingredient.Name" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="Ingredient.Type">Type</label>
            </td>
            <td>
                <select asp-for="Ingredient.Type" asp-items="Html.GetEnumSelectList<IngredientType>()">
                    <option value="">Pick One</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" />
            </td>
        </tr>
    </table>
</form>