@page
@model RecipeManager.Pages.Ingredients.IndexModel
@{
    ViewData["Title"] = "CreateIngredient";
    Layout = "~/Pages/_Layout.cshtml";
}

<h1>Ingredients</h1>

<a asp-page="/Ingredients/Create">Add Ingredients</a>
<table>
    <thead>
        <tr>
            <td>
                Navn
            </td>
            <td>
                Ingrediens Type
            </td>
        </tr>
    </thead>
    @foreach (var item in Model.Ingredients)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Type
            </td>
            <td>
                <a asp-page="./Index"
                   asp-page-handler="Delete"
                   asp-route-id="@item.Id">
                    Delete
                </a>
            </td>
        </tr>
    }
</table>