@page
@model RecipeManager.Pages.Ingredients.IndexModel
@{
    ViewData["Title"] = "CreateIngredient";
    Layout = "~/Pages/_Layout.cshtml";
}

<h1>Ingredients</h1>

<a asp-page="/Ingredients/Create">Add Ingredients</a>
<table>
    @foreach (var item in Model.Ingredients)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Type
            </td>
        </tr>
    }
</table>