<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <a asp-page="/Index">Landing Page</a>
        <a asp-page="/Ingredients/Index">Manage Ingredients</a>
        <a asp-page="/Recipes/Index">Manage Recipes</a>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>

    </footer>
</body>
</html>
